body {
  padding: 10px 5px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 10px;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-right: 10px;
  p {
    margin: 0 0 2px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.container {
  min-width: 160px;
}
